/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* Page 3 */

.blogpage {
  text-align: left;
}
.text-blog {
  font-family: @font-family-muli;
  font-size: 45px;
  text-align: center;
  font-weight: @font-weight-bold;
  color: @blue-alta;
  margin-top: 40px;
  margin-bottom: 40px;
  &:before {
    &:extend(.text-blog);
    margin-right: 5px;
  }
  &:after {
    &:extend(.text-blog);
    margin-left: 5px;
  }
}
.title-blog {
  font-size: 50px;
  font-family: @font-family-muli;
  font-weight: bolder;
  color: @blue-alta;
  margin-top: 40px;
  margin-bottom: 40px;
}
.date-blog {
  font-family: @font-family-muli;
  font-size: 20px;
  color: @blue-alta;
  font-weight: @font-weight-bold;
}
.img-blog {
  width: 100%;
  height: 100%;
}
.text-blog {
  font-size: 46px;
}
.all-text-blog {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: @blue-alta;
}
